<div class="row" >
    <div class="col-xs-12">
        <img [src]="detailRecipe.imagePath" alt="{{detailRecipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{detailRecipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div 
        [ngClass] = "{
        'dropdown open' : dropdownState
        }"
        class="btn-group">
            <button type="button"
            class="btn btn-primary dropdown-toggle" (click) = "changedropdownState()">
             Manage Recipe <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToShoppingList()" style="cursor: pointer;" >Add ingredient inlist</a></li>
                    <li><a (click)="onEditRecipe()" style="cursor:pointer;">Edit Recipe</a></li>
                    <li><a style="cursor:pointer;">Delete Recipe</a></li>
                </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{detailRecipe.discription}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr>
        <ul class="list-group">
            <a  class="list-groupitem" 
            style="cursor: pointer;"
            *ngFor="let ingredient of detailRecipe.ingredients">
            {{ingredient.name}} ({{ingredient.amount}})
            <hr>
        </a>
        </ul>
    </div>
</div>